@media (max-width: 1400px) {
  .right-panel {
    padding-right: 40px !important;
  }
}

@media (max-width: 1200px) {
  .right-panel {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}